.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
*/._*
._*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/deploy/oauth-public.key
### VS Code ###
.vscode/
/sc
/test
/logs/*
config/*
src/main/resources/application.conf
src/test/resources/application-test.conf
AGENTS.md
docs